Happ<!--
html { 
    background-color: #333; 
    overflow: auto; 
}

@media only screen and (min-width: 600px){
	.ui-page {
		width: 600px !important;
		margin: 0 auto !important;
		position: relative !important;
		border-right: 5px #666 outset !important;
		border-left: 5px #666 outset !important;
	}
}
-->

div .gmh_object {
    padding-bottom: 30px;
}

.gmh_object .gmh_objectlabel {
    text-align: right;
    font-weight: bold;
}